/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .text-center {
   text-align: center;
 }

 span {
   padding-left: 10px;
   padding-right: 10px; 
 }

 /* for keyboard */
 span.note-title {
  padding: 0px;
  letter-spacing:1;
}

 /* PROJECTS */
 #newProject, #deleteProject,#new_pattern_button
 {
     float: right;
     margin: 20px;
 }
 .hidden
 {
     display: none;
 }
 .visible
 {
     display: inherit;
 }
 a#upload_video_button
 {
     color: black;
 }
 body, a#upload_video_button
 {
     letter-spacing: 7px !important;
 }
 h1
 {
     letter-spacing: 13px;
     padding: 0px 10px 0px 10px;
 }
 video.video_preview {
     width: 100%;
 }

 /* PATTERN */  

div#pattern-container {
  height: 60%;
  width: 100%;
}

 /* PIANO */

 /* * {
  box-sizing:border-box
} */
/* piano keys */

li.active {
  background-color: #ff7033 !important;
}

li.white.active {
  background-color: #ff7033 !important;
}

ul {
  padding: 0;
  width: 100%;
  display: table;
  table-layout: fixed; /* optional */
}

ul li {
  display: table-cell;
  width: auto;
  text-align: center;
  border-left: 1px solid#009688;
  border-top: 1px solid#009688;
  border-bottom: 1px solid#009688;
}

li.teal input[type='text'] {
  color: white !important;
}

li.white input[type='text'] {
color: #009688 !important;
}

li input[type='text'] {
  font-size: 10px !important;
  text-align: center;
  margin-bottom: 0px !important;
}

li:last-child {
  border-right: 1px solid#009688;
}

li.teal {
  color: white !important;
}


li.white {
  color: #009688 !important;
}

#octave-minus{
  float: left;
  margin:10px;
}

#octave-plus{
  float: right;
  margin:10px;
}

li.selected {
  background-color: #ff75b3 !important;
}





