/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .text-center {
   text-align: center;
 }

 /* PROJECTS */
 #newProject, #deleteProject,#new_pattern_button
 {
     float: right;
     margin: 20px;
 }
 .hidden
 {
     display: none;
 }
 .visible
 {
     display: inherit;
 }
 a#upload_video_button
 {
     color: black;
 }
 body, a#upload_video_button
 {
     letter-spacing: 7px !important;
 }
 h1
 {
     letter-spacing: 13px;
     padding: 0px 10px 0px 10px;
 }
 video.video_preview
 {
     width: 100%;
 }

 /* PATTERN */  

div#pattern-container {
  height: 100%;
  width: 100%;
}

 /* PIANO */

 /* * {
  box-sizing:border-box
} */
/* piano keys */
ul {
  height:40em;
  width:90%;
  margin: auto;
  padding:3em 0 0 3em;
  position:relative;
}

li {
  margin:0;
  padding:0;
  height: 6em;
  width: 3em;
  border-top: 0.1em solid#009688;
  border-bottom: 0.1em solid#009688;
  border-left: 0.1em solid#009688;
  list-style:none;
  position:relative;
  float:left
}

ul li:last-child {
  border-right: 0.1em solid#009688;
}

