<nav style="margin-bottom: 29px">
  <div class="nav-wrapper black" style="">
    <a href='/' style="padding-left: 18px;" class="brand-logo">MidiFrame</a>
    <ul class="hide-on-med-and-down">
      <li><a href="/patterns/all">Patterns</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</nav>