  <!-- Modal Structure -->
  

  <div id="text-modal" class="modal modal-fixed-footer" data-target="patterns--midi-device.textModal">
    <div class="modal-content">
      <h4 data-target="patterns--midi-device.textModalTitle" style="color: black">Text</h4>
     <input data-action="input->patterns--midi-device#onTextType" data-target="patterns--midi-device.inputValue">
     <p class="range-field">
      <input type="range" id="test5" min="0" max="100" />
     </p>
    </div>
    <div class="modal-footer">
      <a data-action="patterns--midi-device#clearText" class="modal-close waves-effect waves-green btn-flat">clear</a>
      <a class="modal-close waves-effect waves-green btn-flat">ok</a>
    </div>
  </div>
          
  