  <!-- Modal Structure -->
  <div id="text-modal" class="modal modal-fixed-footer" data-target="patterns--midi-device.textModal">
    <div class="modal-content">
      <h4 style="color: black">Text</h4>
     <input type="text">
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-flat">save</a>
    </div>
  </div>
          