<div data-target="patterns--midi-device.noteText" id="note-text">
  <span id="note-text-text"></span>
</div>
<video 
  id="midi-video" 
  class="video-js vjs-fluid" 
  preload="auto" 
  width="1000" 
  data-target="patterns--video.video patterns--midi-device.video"
  controls
>
<source 
  src="<%=url_for(@project.video)%>" 
  type="video/mp4"
/>
</video>