  <div class="row video-card">
    <div class="">
      <div class="card">
        <div class="card-image">
          <%= image_tag(image, style: "width:100%;height:auto") %>
          <span class="card-title"><%= title %></span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
      </div>
    </div>
  </div>