<script>
  window.addEventListener('load', function() {
    console.log("init")
    var elems = document.querySelectorAll('.tooltipped');
    // var instances = M.Tooltip.init(elems,{exitDelay: 1000000000, html:"<div style='padding:10px;background-color:black;color:white'><p>we need the bpm only if you plan to record midi from a groovebox,</p><p>otherwise don't worry about it.</p><p> You can just leave it like this</p></div>"});
    var instances = M.Tooltip.init(elems,{html:"<div style='padding:10px;background-color:black;color:white'><p>we need the bpm only if you plan to record midi from a groovebox,</p><p>otherwise don't worry about it.</p><p> You can just leave it like this</p></div>"});
  });
</script>