body {
  background-color: black;
}

h1 {
  color: white;
  font-family: futura;
  text-align: center;
}

span {
  color: white;
  font-size: 20px;
  font-family: futura;
  letter-spacing: 5px;
  margin: 20px;
}

.vidContainer{
  text-align: center;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
