div class="row"
  
  =link_to(new_project_pattern_path(@project), class:"btn-floating btn-large waves-effect  grey darken-4 lighten-2", id:"create_new_pattern") do 
  
    i class="material-icons" add 
  

    