div class="card" style="width:95%; margin: 0 auto; margin-top:35px;" 
  div style="height: 10px;" class="progress"
    div data-target="patterns--midi-recorder.progressBar" class="determinate" style="width: 0%"

div style="margin: 0 auto; width:95%; letter-spacing: 2px; font-size: 11px;" recording progress        