<h1><%= @project.name %></h1>

<div class="video_preview">
  <video 
    id="midi-video" 
    class="video-js vjs-fluid" 
    preload="auto" 
    width="1000" 
    data-controller="patterns--video-load" 
    controls
  >
  <source 
    src="<%=url_for(@project.video)%>" 
    type="video/mp4"
  />
  </video>
</div>

<div id="pattern-container">
  <%= render 'keyboard' %>
</div>
