<%# Global Button Navigation %>
<div class="row">
    <a id="newProject" class="btn-floating btn-large waves-effect  teal lighten-2" href="<%= new_project_path %>"><i class="material-icons">add</i></a> 
    <% if params[:action] == "edit" %>
        <%= link_to(@project, {method: "DELETE", class: "btn-floating btn-large waves-effect waves-light red", id: "deleteProject"}) do  %>
            <i class="material-icons">clear</i>
        <% end %>
    <% end %>
    <% if params[:action] == "edit" %>
        <%= link_to(new_project_pattern_path(@project), class: "btn-floating btn-large waves-effect waves-light red", id: "new_pattern_button") do  %>
            <i class="material-icons">apps</i>
        <% end %>
    <% end %>
</div>


    