    <p>
      <label>
        <%= f.radio_button :lofi_amount, 0, checked: true %>
        <span>none</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :lofi_amount, 1, checked: false %>
        <span>min</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :lofi_amount, 2, checked: false %>
        <span>medium</span>
      </label>
    </p>
    <p>
      <label>
        <%= f.radio_button :lofi_amount, 3, checked: false %>
        <span>max</span>
      </label>
    </p>