
div data-controller="projects--file-input" class="card-panel"
  
  = form_for @project, url: { action: "update" }, html: { class: "form-group" } do |f|
        
    label Name
    = f.text_field :name, value: @project.name 

    label BPM
    = f.text_field :bpm 

    label for="project_video"
    
    a id="upload_video_button" class="waves-effect waves-light btn" Choose Video

    span data-target="projects--file-input.fileDisplayName" = @project.video.attached? ? "Replace video" : "Choose a video" 
   
    = f.file_field :video, style: "display:none;", data: { action: "change->projects--file-input#printFileName", target: "projects--file-input.filename"} 
    
    = f.submit "S A V E", class: "waves-effect waves-light btn", data: { action: "loading#showLoader" } 

- if @project.video.attached? 
  
  div class="video_preview"
  
    = video_tag(url_for(@project.video), class: "video_preview", controls: true) 


= render 'button' 

