ul class="collection"

  -current_user.projects.each do |project| 

    =link_to( edit_project_path( project ), class:"collection-item project-item") do 

      =project.name 

=render 'project_action_buttons' 

