<ul class="collection">
    <% current_user.projects.each do |project| %>
        <a href="<%= edit_project_path(project) %>" class="collection-item"><%= project.name %></a>
    <% end %>
</ul>

<% if @deleted_name %>
  <script>
    M.toast({html: '<%= @deleted_name %> deleted'})
  </script>
<% end %>
<%= render 'button' %>

